body {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
h1 {
    font-size: 30px;
    font-weight: bold;
}
p {
    font-size: 16x;
    margin-bottom: 10px;
    line-height: 1.2;
}
.text-center {
    text-align: center;
}
a, button {
    transition-duration: 0.5s;
}
