
header {
    text-align: center;
    .site-title {
        font-size: 40px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        padding: 20px 40px;
        color: $color1;
    }
    .main-nav {
        ul {
            display: block;
            padding: 0 30px;
            list-style: none;
            background: $color3;
            margin: 0;
            li {
                display: inline;
                a {
                    padding: 20px 30px;
                    @include bw-comb;
                    text-decoration: none;
                    &:hover {
                        background: $color2;
                        color: $color3;
                    }
                    display: inline-block;
                    font-weight: bold;
                }
            }
        }
    }
}